nav {
	@extend %box-shadow;
	background-color: $secondary_color;
	padding: 0.5em;
	background: linear-gradient(to bottom, lighten($secondary_color, 10%) 0%, $secondary_color 50%, $black 100%);

	#menu-global-nav {
		list-style-type: none;

		li {
			display: inline-block;
			text-transform: uppercase;
			font-family: $primary_font;
			background-color: lighten($secondary_color, 10%);
			margin-right: 0.5em;

			&:first-child {
				color: $red;
				font-size: 1.2em;
				position: relative;
				top: 0.1em;
				background-color: transparent;
				
				&:hover {
					background-color: transparent;
				}
				a {
					color: inherit;
					background: url($logo_image) no-repeat center;
					background-size: contain;
					text-indent: -999em;
				}
			}
			&:hover {
				background-color: lighten($secondary_color, 8%);
			}
			a {
				padding: 0.5em 1em;
				display: block;
			}
		}
	}
	.search {
		margin: 0.5em 0em;
		border-radius: 999em;
		padding: 1em;
	}
}