footer {
	//background-color: $secondary_color;
	color: $white;
	text-align: center;
	background: linear-gradient(to bottom, darken($secondary_color, 10%) 0%, $black 100%);
	box-shadow: $box_shadow;

	.row {
		div {
			padding: 1em 0em;
		}
	}
}