nav {
	background-color: $secondary_color;
	padding: 0.5em;
	box-shadow: $box_shadow;
	background: linear-gradient(to bottom, $secondary_color 20%, darken($secondary_color, 10%) 90%, $black 100%);

	#menu-global-nav {
		list-style-type: none;

		li {
			display: inline-block;
			margin-right: 0.5em;
			text-transform: uppercase;
			font-family: $primary_font;

			&:first-child {
				color: $red;
				font-size: 1.2em;
				position: relative;
				top: 0.1em;
				
				a {
					color: inherit;
					background: url($logo_image) no-repeat center;
					background-size: contain;
					text-indent: -999em;
				}
			}
			a {
				//background-color: $secondary_color;
				padding: 0.5em 1em;
				display: block;
				//background: linear-gradient(to bottom, darken($secondary_color, 5%) 0%, $secondary_color 100%);
			}
		}
	}
}