footer {
	@extend %box-shadow;
	color: $white;
	text-align: center;
	background: linear-gradient(to bottom, lighten($secondary_color, 10%) 0%, $secondary_color 50%, $black 100%);

	.row {
		div {
			padding: 1em 0em;
		}
	}
}