%btn {
	display: inline-block;
	color: $white;
	border: 0px;
	border-radius: 0.2em;
	padding: 0.5em;
	line-height: 1em;
	font-family: $primary_font;
	letter-spacing: 0.08em;

	&:hover {
		color: $white;
	}
	&:focus {
		color: $white;
	}
}

.btn-white {
	@extend %btn;
	background-color: $white;
	color: $black;
}

.btn-light-blue {
	@extend %btn;
	background-color: $light_blue;
}

.btn-red {
	@extend %btn;
	@include red-gradient;
}

.btn-green {
	@extend %btn;
	background-color: $green;
}