%btn {
	display: inline-block;
	height: auto;
	min-height: $button_line_height;
	padding: 0em 1em;
	margin: 0;
	color: $white;
	line-height: $button_line_height;
	font-family: $primary_font;
	text-decoration: none;
	text-overflow: ellipsis;
	letter-spacing: 0.08em;
	text-shadow: 0 1px 0 rgba($black, 0.25);
	text-align: center;
	white-space: nowrap;
	zoom: 1;
	cursor: pointer;
	overflow: hidden;
	border: 1px solid transparent;
	@include border-radius(0.2em);
	@include box-shadow($button_box_shadow);

	&:hover {
		color: $white;
	}
}

.btn-red {
	@extend %btn;
	border-color: $red;
	@include red_gradient;

	&:active {
		background: linear-gradient(to bottom, $dark_red 0%, $red 100%) repeat scroll 0 0 transparent;
	}
}

.btn-blue {
	@extend %btn;
	border-color: $blue;
	@include blue_gradient;

	&:active {
		background: linear-gradient(to bottom, $dark_blue 0%, $blue 100%) repeat scroll 0 0 transparent;
	}
}

/////// Social Buttons  /////// 
// -----------------------------------------------------------------------------

%social-icon {
	height: 44px;
	width: 44px;
	display: block;
	@include border-radius(999px);
	text-align: center;
	@include box-shadow($button_box_shadow);
	border-width: 2px;
	border-style: solid;

	&:hover, &:focus, &:active {
		@include box-shadow($box_shadow, $button_box_shadow);
	}
}

.google {
	@extend %social-icon;
	background: url("assets/images/icons/google.svg") no-repeat center center / contain, $red_gradient_hover;
	border-color: darken( $red, 20% );
}

.facebook {
	@extend %social-icon;
	background: url("assets/images/icons/facebook.svg") no-repeat center center / contain, $blue_gradient;
	border-color: darken( $blue, 10% );
}

.twitter {
	@extend %social-icon;
	background: url("assets/images/icons/twitter.svg") no-repeat center center / contain, $blue_gradient_hover;
	border-color:$blue;
}

.youtube {
	@extend %social-icon;
	background: url("assets/images/icons/youtube.svg") no-repeat center center / contain, $grey_gradient;
	border-color: darken( $grey, 10% );
}