/////// Site Icons and Images /////// 
// -----------------------------------------------------------------------------
$bg_image: "assets/images/background/stars.jpg";

$action_image: "assets/images/background/flare.png";
$action_image_width: 1920px;
$action_image_height: 1080px;

$star_image: "assets/images/star-150.png";
$logo_image: "assets/images/logo.png";

/////// Config defaults for site colors /////// 
// -----------------------------------------------------------------------------
$secondary_color: rgba(28, 28, 28, 0.85);

$white: #fff;
$black: #000;

$green: #6c6;

$light_blue: #93D7F9;
$blue: #075181;
$dark_blue: #053A5C;
$trans_dark_blue: rgba($dark_blue,0.5);
$blue_gradient: linear-gradient(to bottom, $blue 0%, $dark_blue 100%) repeat scroll 0 0 transparent;
$blue_gradient_hover: linear-gradient(to bottom, $light_blue 0%, $blue 100%) repeat scroll 0 0 transparent;

$light_gray: #999;
$grey: #444;
$dark_grey: #222;
$grey_gradient: linear-gradient(to bottom, $grey 0%, $dark_grey 100%) repeat scroll 0 0 transparent;
$grey_gradient_hover: linear-gradient(to bottom, $light_gray 0%, $grey 100%) repeat scroll 0 0 transparent;

$light_red: #DD2A2A;
$red: #b22222;
$dark_red: #8F1718;
$red_gradient: linear-gradient(to bottom, $red 0%, $dark_red 100%) repeat scroll 0 0 transparent;
$red_gradient_hover: linear-gradient(to bottom, $light_red 0%, $red 100%) repeat scroll 0 0 transparent;

/////// Config defaults for site border style /////// 
// -----------------------------------------------------------------------------
$box_shadow: 0em 0em 1em 0.1em $light_blue;

/////// Config defaults for site button style /////// 
// -----------------------------------------------------------------------------
$button_line_height: 2.75em;
$button_box_shadow: inset 0 1px 0 rgba($white, 0.3);

/////// Page dimension configuration ///////
// -----------------------------------------------------------------------------
$footer_height: 23em;
$page-width: 1000px;

$background: $black url($bg_image) repeat fixed center;

/////// Typography configuration /////// 
// -----------------------------------------------------------------------------
$primary_font: Bebas, Arial, sans-serif;
$secondary_font: "Helvetica Neue", Helvetica, Arial, sans-serif;

/////// UI @media breakpoint defaults /////// 
// -----------------------------------------------------------------------------
$phone_portrait_width: 320px; // min-width //
$phone_landscape_width: 600px;

$phone: "screen and (max-width: #{$phone_landscape_width})";

$tablet_portrait_width: 601px;
$tablet_landscape_width: 1024px;

$tablet: "screen and (min-width: #{$tablet_portrait_width}) and (max-width: #{$tablet_landscape_width})";

$desktop_width: 1025px;
$desktop: "screen and (min-width: #{$desktop_width})";

$breakpoint_width: 1032px; // design breakpoint //
$breakpoint: "screen and (max-width: #{$breakpoint_width})";
