body {
	font-family: 14px/1em $secondary_font;
	background: $black;
	background: $black url($bg_image) repeat fixed center;
	position: relative;
	z-index: 0;
	
	h1, h2, h3, h4, h5, h6 {
		font: normal 1em/1.2em $primary_font;
		word-spacing: 0.2em;
		color: $white;
		margin: 0.5em 0em;
	}

	h1 {
		font-size: 4em;
	}

	h2 {
		font-size: 3em;
	}

	h3 {
		font-size: 2em;
	}

	ul {
		margin: 0em;
	}

	a {
		color: $blue;

		&:hover {
			color:$dark-blue;
		}
	}

	label {
		cursor: default;
	}

	#wrapper {
		position: relative;
		z-index: 1;

		#content_wrapper {
			background: $black url($bg_image) repeat fixed center;
			@include box-shadow(0em 0em 1em 0.1em $light_blue);
		}
	}
	#container {
		padding-bottom: 2em;
	}
}