%light-link {
	color: $light_blue;

	&:hover {
		color: $white;
	}
}

@mixin section_background($color) {
	background-color: lighten($color, 20%);
	border-radius: 2px;
	margin: 1em 0px;
	padding: 2em 1em 0em 1em;

	> div {
		margin-bottom: 2em;
		height: 9em;

		.card {
			background-color: lighten($color, 5%);
			border-radius: 3px;
			height: 100%;
		}
	}
}

@mixin blue-gradient {
	background: $blue_gradient;
	
	&:hover {
		background: $blue_gradient_hover;
	}
}

@mixin red-gradient {
	background: $red_gradient;
	
	&:hover {
		background: $red_gradient_hover;
	}
}

@mixin grey-gradient {
	background: $grey_gradient;
	
	&:hover {
		background: $grey_gradient_hover;
	}
}