.page-home #featured h2, .page-home #recent_posts h2, .page-home #recent_videos h2  {
    -moz-box-sizing: content-box;	
    border: medium none;
    box-shadow: 0 1em 1em -1em #021420;
    color: #FFFFFF;
    display: block;
    height: auto;
    left: -0.5em;
    margin: 0;
    padding: 0.5em 0.5em;
    position: absolute;
    text-indent: 0.5em;
    text-shadow: 1px 1px 3px #222222;
    top: 0;
    width: 100%;
    z-index: 1;
	}
.page-home #featured h2 {
    background: #075181;
}

.page-home #recent_videos h2 {
    background: #B22222;

}

.page-home #recent_posts h2 {
    background-color: #444444;
}

.page-home h2 {
    font-size: 2em;
}

.card.featured + .drawer {
    background-color: #053A5C;
    box-shadow: 0 1px 2px 0 #000000;
    color: #FFFFFF;
    height: 4.25em;
    padding: 1em;
    text-shadow: 1px 1px 3px #222222;
    z-index: 0;
}
.card.featured + .drawer:hover {background-color: #075181;}
.card.featured + .drawer h1 {
    color: inherit;
    margin: 0;
    max-height: 2.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card.featured + .drawer .meta {
    display: none;
}

.page-home #featured, .page-home #recent_posts, .page-home #recent_videos {
    background-color: rgba(28, 28, 28, 0.85);
    border-radius: 2px 2px 2px 2px;
    margin: 3em 0 2em;
    padding: 4.5em 0 0;
    position: relative;
}


.card h1 {
    background-color: #222;
    bottom: 0;
    color: #FFFFFF;
    margin: 0;
    padding: 0.5em 0.5em 0.7em;
    position: absolute;
    width: 100%;
	text-shadow:none;
}

.card h1:hover {background-color: #444;}



@media screen and (max-width: 1000px){ 
.page-home #featured h2, .page-home #recent_posts h2, .page-home #recent_videos h2   {
    -moz-box-sizing: inherit;
    color: #FFFFFF;
    left: 0;
    padding: 0.75em 0.5em;
    position: relative;
    text-indent: 0;
}
.page-home #featured, .page-home #recent_posts, .page-home #recent_videos {

    padding: 0

}
}