.page-about {
	color: $white;

	#main {
		h1 {
			text-align: center;
		}
	}
	section {
		overflow: hidden;
		margin-top: 2em;
	}
	#mission {
		padding: 1.5em 1em;
		background: $blue_gradient;
		margin-bottom: 2em;

		h2 {
			margin-top: 0;
		}
	}
	.person img {
		margin-right: 1.5em;
	}
}