.page-about {
	color: $white;

	h1 {
		text-align: center;
		font-size: 2.5em;
	}
	section {
		overflow: hidden;
		margin-top: 2em;
	}
	#mission {
		padding: 1.5em 1em;
		background: $blue_gradient;
		margin-bottom: 2em;

		h2 {
			margin-top: 0;
		}
		p:last-child {
			margin: 0;
		}
	}
	.person img {
		margin-right: 1.5em;
	}
}

@media #{$small} {
	.page-about {
		h1 {
			font-size: 4em;
		}
	}
}