#blog_feed {

	padding:0;
	margin-bottom: 2em;
	h1 {
		margin:0;
		background: linear-gradient(to bottom, $grey 0%, $dark_grey 100%) repeat scroll 0 0 transparent;
		&:hover { 
			background: $grey_gradient_hover;  
		}
		&.videos {
			background: $red_gradient;
			&:hover {
				background: $red_gradient_hover;
			}
		}
		&.featured {
			background: $blue_gradient;
			&:hover {
				background: $blue_gradient_hover;
			}
		}
	}
}