@mixin section_background($color) {
	background-color: $secondary_color;
	border-radius: 2px;
	margin: 2em 0em 2em;
	padding: 0em 0em 0em 0em;
	position: relative;

	h2 {
		@include box-shadow(0em 1em 1em -1em #021420);
		@include box-sizing(content-box);
	    width: 100%;
	    position: absolute;
	    top: 0;
	    left: -0.5em;
	    z-index: 1;
	    margin: 0;
	    padding: 0.5em 0.5em;
	    text-indent: 0.5em;
	    text-shadow: 1px 1px 3px #222222;
	}
	& > a {
		padding: 0em;
	}
}

.page-home {
	h1 {
		font-size: 1em;
	}
	
	h2 {
		font-size: 2em;
	}

	.logo {
		width: 100%;
		margin-top: 2em;
	}
	
	#action {
		background: url($action_image) no-repeat center center;
		background-size:cover;
		padding:2em 0 0;

		h1 {
			font-size: 4em;
			padding: 0em;
		}
		.btn-red {
			font-size: 1.2em;
			margin: 2em 0 0;
			padding: 1em;
		}
	}
	
	#featured {
		@include section_background(rgba( $blue, .5 ));

		h2 {
			background-color: $blue;
		}
		& > a {
			height: 15em;
		}
	}

	#recent_posts {
		@include section_background($dark-grey);

		h2 {
			background-color: $grey;
		}
		& > a {
			$post_height: 10em;
			$post_margin: 1em;

			margin: $post_margin;
			height: $post_height;
			@extend .medium-6;
			@extend .small-12;
			@media #{$desktop} {
				width: calc(25% - (#{$post_margin} * 3/2));
			}

			&:nth-of-type(1) {
				$font_size: 1.5em;

				@extend .large-6;
				@extend .medium-12;
				@extend .small-12;
				font-size: $font_size;
				padding: 0em;
				margin: 0em;
				height: (($post_height * 2) + ($post_margin * 3)) / ($font_size) * 1em;
			}
			&:nth-of-type(2n) {
				margin-right: 0em;
			}
			&:nth-of-type(4n-2),
			&:nth-of-type(4n-1) {
				margin-bottom: 0em;
			}
		}
	}

	#recent_videos {
		@include section_background($red);

		h2 {
			background-color: $red;
		}
		.columns {
			padding-bottom: 20%;

			&:nth-of-type(1) {
				@extend .large-9;
				@extend .medium-12;
				padding-bottom: 60%;

				iframe {
					margin: 0em;
					width: 100%;
					height: 100%;
				}
			}
			iframe {
				width: calc(100% - 2em);
				height: calc(100% - 2em);
				position: absolute;
				left: 0em;
				top: 0em;
				margin: 1em;
			}
		}
	}
}

@media not #{$desktop} {
	.page-home {
		#featured,
		#recent_posts,
		#recent_videos {
			& > a {
				margin: 0em;
				height: 15em;
			}
			h2 {
				height: inherit;
				left: 0em;
				box-sizing: border-box;
			}
		}
	}
}

@media only #{$tablet} {
	.page-home {
		#recent_videos {
			.columns {
				padding-bottom: 40%;
			}
		}
	}
}

@media only #{$phone} {
	.page-home {
		#recent_videos {
			.columns {
				padding-bottom: 60%;
			}
		}
	}
}