$recent-posts-height: 10em;
$recent-posts-margin: 1em;
$recent-post-font-size: 1.5em;

%section_background {
	background-color: $secondary_color;
	@include border-radius(2px);
	margin: 3em 0em 2em;
	padding: 0em 0em 0em 0em;
	position: relative;

	h2 {
		@include box-shadow(0em 1em 1em -1em #021420);
		@include box-sizing(content-box);
	    margin: 0 0 0 -0.8em;
	    padding: 0.6em 0.8em;
	    text-shadow: 1px 1px 3px $dark_grey;
	}
	& > a {
		padding: 0em;
	}
}

.page-home {
	h1 {
		font-size: 1em;
	}
	
	h2 {
		font-size: 2em;
	}

	.logo {
		width: 100%;
		margin-top: 2em;
	}
	
	#action {
		padding: 2em 0 0;
		margin: 0;

		h1 {
			font-size: 3.5em;
			padding: 0em;
		}
		.cta {
			font-size: 1.2em;
			padding: 1em;
			text-align: center;
			display: block;
			margin-top: 2em;
		}
	}
	
	#featured {
		@extend %section_background;

		h2 {
			background-color: $blue;
		}
		& > a {
			height: 15em;
		}
	}

	#recent_posts {
		@extend %section_background;

		h2 {
			background-color: $grey;
		}
		& > a {
			margin: $recent-posts-margin;
			height: $recent-posts-height;
			//@extend .medium-6;
			@extend .small-12;

			&:nth-of-type(1) {
				@extend .large-6;
				//@extend .medium-12;
				@extend .small-12;
				font-size: $recent-post-font-size;
				padding: 0em;
				margin: 0em;
				height: (($recent-posts-height * 2) + ($recent-posts-margin * 3)) / ($recent-post-font-size) * 1em;
			}
			&:nth-of-type(2n) {
				margin-right: 0em;
			}
			&:nth-of-type(4n-2),
			&:nth-of-type(4n-1) {
				margin-bottom: 0em;
			}
		}
	}

	#recent_videos {
		@extend %section_background;

		h2 {
			background-color: $red;
		}
		.row {
			clear: both;
			padding: 1em 0em;
		}
		.video {
			&:nth-child(2) {
				padding: 0em 2em 0em 1em;
			}
			&:nth-child(1) {
				padding: 0em 0em 0em 2em;
			}
			iframe {
				min-height: 20em;
				width: 100%;
			}
		}
	}
}

@media #{$medium} {
	.page-home {
		#recent_posts {
			& > a {
				width: calc(25% - (#{$recent-posts-margin} * 3/2));
			}
		}
	}
}