$recent-posts-height: 10em;
$recent-posts-margin: 1em;
$recent-post-font-size: 1.5em;

.page-home {
	h1 {
		font-size: 1em;
	}
	
	h2 {
		font-size: 2em;
	}

	#action {
		margin: 2.75em 0 0;
		padding: 0;
		position: relative;

		h1 {
			font-size: 2em;
			line-height: 1.4em;
			padding: 0;
			margin: 0;
		}
		.cta, .social {
			margin-top: 1em;
		}
	}

	#orbitmission, #featured, #recent_videos {
		@include border-radius(2px);
		margin: 2.5em 0 0;
		padding: 0;
		position: relative;
		z-index: 1;

		h2 {
			width: 100%;
		    padding: 0.5em;
		    margin: 0;
			text-indent: 0.4375em;
		    text-shadow: 1px 1px 3px $dark_grey;
			border-bottom: 1px solid $black;
			@include box-shadow(0 1px 0 rgba($white, 0.3) inset);
		}
	}

	.featured-card, .recent-video {
		padding: 0;
	}

	#orbitmission {
		h2 {
			background: $blue_gradient;
			background-color: $secondary_color;
		}
	}
	
	#featured {
		h2 {
			background: $blue_gradient;
			background-color: $secondary_color;
		}
		a {
			height: 16em;
		}
	}

	#recent_videos {
		h2 {
			background-color: $red;
		}
		.flex-video {
			margin-bottom: 0em;
		}
	}
}

@media #{$small} {
	.page-home {
		#action {
			h1 {
				font-size: 2.25em;
			}
			.social {
				margin-top: 1em;
				margin-bottom: 1em;
			}
		}
	}
}

@media #{$medium} {
	.page-home {
		#action {
			h1 {
				font-size: 3em;
			}
		}
	}
}