.page-missions {
	color: $white;

	.mission {
		margin-bottom: 2em;
	}
	#container {
		.row {
			background-color: $secondary_color;
		}
		a {
			margin: 0 0 1.5em;
		}
	}
	img {
		width: 100%;
	}
}

@media #{$small} {
	.page-missions {
		#container {
			a {
				margin: 1.5em 0 0;
			}
		}
	}
}