.page-press {
	.press-kit {
		margin-top: 1em;
		margin-bottom: 2em;
	}
	.contact {
		margin-bottom: 3em;
		
		.person {
			margin: 0;

			img {
				float: none;
				margin: 0;
			}
		}
		.info {
			p {
				margin: 0;
			}
		}
	}
}

@media #{$small} {
	.page-press {
		.contact {
			.info {
				//padding-top: 2em;
			}
		}
	}
}