.page-privacy {
	.content {
		background-color: $white;
		color: $black;
		padding: 2em;

		h4 {
			color: inherit;
		}
		ul, ol {
			margin-left: 2em;
		}
		a {
			color: $blue;

			&:hover {
				color: $dark_blue;
			}
		}
	}
}