.single-post {	
	#main {
		margin: 2.75em 0em 0em;

		h1 {
			font-size: 2em;
			line-height:1.4em;
		}
		#ts-fab-below {
			margin: 0 -1em -1em;
		}
	}
}

@media #{$small} {
	.single-post {
		#main {
			h1 {
				text-align: center;
				font-size: 2.25em;
			}
		}
	}
}

@media #{$medium} {
	.single-post {
		#main {
			h1 {
				font-size: 3em;
			}
		}
	}
}