.page-volunteer {
	input[type="submit"] {
		@include btn-red;
		margin-top: 1em;
	}
	input[type="checkbox"] {
		margin: 0;
	}
	span {
		margin: 0;
	}
	input[type="file"] {
		&:focus {
			outline: none;
		}
		&::-webkit-file-upload-button {
			@include btn-red;
			width: auto;
			line-height: 1.5em;
			min-height: 0;
		}
	}
}