li.comment {
	overflow: hidden;
	margin-bottom: 1em;

	&:last-child {
		margin-bottom: 0em;
	}
	&:hover {
		.actions {
			display: block;
		}
	}
	div.comment {
		$sidebar_width: 15%;
		width: 100%;
		overflow: hidden;

		.main-content {
			float: left;
			width: 100 - $sidebar_width;
			color: $white;
			padding: 1em;

			.fn {
				font: normal bold 1.2em/1em $primary_font;
				margin-bottom: 0.3em;
			}
			.comment-meta {
				font-size: 0.9em;
				line-height: 1em;
			}
			.comment-content {
				clear: both;
				margin-top: 1em;

				p:last-child {
					margin-bottom: 0em;
				}
			}
		}
		.vcard {
			border: 0em;
			margin: 0em;
			float: left;
			width: $sidebar_width;

			.avatar {
				display: block;
				margin: 0em auto;
				text-align: center;
				@include border-radius(999em);
				border: 0.15em solid $white;
				width: 100%;
			}
			
		}
	}
	a {
		color: $light_blue;
	}
	
	.notice {
		color: $green;
	}
	.actions {
		position: absolute;
		right: 0;
		display: none;

		.comment-edit-link {
			@extend .btn-blue;
			font-size: 0.8em;
		}
		.comment-reply-link {
			@extend .btn-red;
			font-size: 0.8em;
		}
	}
}