.sharing {
	@extend %single-content-supplemental-bar;
	
	ul {
		list-style-type: none;

		li {
			display: inline-block;

			&.share-twitter {
				width: 90px;
			}
			&.share-facebook {
				padding-right: 10px;
			}
		}
	}
}