aside {
	.widget {
		margin-top: 1.5em;
		padding: 1em;

		.widget-title {
			background-color: transparent;
			color: $light_red;
			padding: 0;
		}

		ul {
			list-style-type: none;
			background-color: transparent;

			li {
				line-height: 1.2em;
				color: $white;
				margin-bottom: 0.25em;
			}
		}
		a {
			text-decoration: underline;
			
			&:hover {
				color: $white;
			}
		}
	}
}