#footer-wrapper {
	background: $secondary-color;

	footer {
		color: $white;
		text-align: left;

		.section {
			padding: 2em 0;
			@include box-shadow(0 -1px 0 0 rgba($light_gray, 0.5), 0 -2px 0 0 $black);

			&.copy {
				padding: 1em;
				background-color: rgba($black, 0.3);
			}
		}
		.widget {
			margin-top: 0em;
			margin-bottom: 1em;
		}
		h4 {
			color: $red;
		}
		ul {
			color: $white;
	   		list-style: none outside none;
	   		margin-left: 0;

			a {
				color: $light_blue;

				&:hover {
					color: $white;
					text-decoration: underline;
				}
			}
		}
		#searchform {
			margin: 0 0 2em;

			input[type="text"] {
				&:focus {
					background-color: $dark-red;
				}
			}
		}
		#searchsubmit {
			@include btn-red;
		}
		.cta {
			margin: 2em 0 0;
		}
	}
}

@media #{$small} {
	#footer-wrapper {
		footer {
			#searchform {
				margin: 0;
			}
			.cta {
				margin: 0;
			}
		}
	}
}

// Overwrite styles for sticky-footer
@media only screen and (max-width: $medium-screen) {
	#footer-wrapper {
		height: auto;
	}
}