.involvement-step {
	padding: 2em;
	margin: 1em 0;
	background: $blue_gradient;
	position: relative;
	overflow: hidden;

	&.social {
		padding-bottom: 1em;
	}
	.cta {
		padding: 0 1em;
		display: block;
		height: 100%;
		color: inherit;

		&:hover {
			color: inherit;
		}
	}
	p {
		margin: 0;
		font-size: 1.1em;
		line-height: 1.2em;
	}
	.number {
		position: absolute;
		top: 0;
		@include user-select(none);
		font: 10em/0.6em $primary_font;
		opacity: 0.2;
	}
	.social {
		margin: 0 0 1em;
	}
}