li.comment {
	overflow: hidden;
	margin-bottom: 1em;

	&:last-child {
		margin-bottom: 0em;
	}
	div.comment {
		$sidebar_width: 15%;
		width: 100%;
		overflow: hidden;

		.vcard {
			border: 0em;
			margin: 0em;
			float: left;
			width: $sidebar_width;

			.avatar {
				display: block;
				margin: 0em auto;
				text-align: center;
				@include border-radius(999em);
				border: 0.15em solid $white;
				width: 100%;
			}
			
		}
		.notice {
			color: $green;
		}
		.main-content {
			float: left;
			width: 100 - $sidebar_width;
			background-color: $white;
			color: $black;
			padding: 1em;

			.fn {
				font: normal bold 1.2em/1em $primary_font;
				float: left;
				margin-bottom: 0.3em;
			}
			.comment-meta {
				float: right;
				font-size: 0.9em;
				line-height: 1em;

				.comment-edit-link {
					float: right;
					@extend .btn-light-blue;
					font-size: 0.8em;
				}
			}
			.comment-content {
				clear: both;

				p:last-child {
					margin-bottom: 0em;
				}
			}
			.reply {
				text-align: right;

				.comment-reply-link {
					@extend .btn-red;
					font-size: 0.8em;
				}
			}
		}
	}
}