

#searchform {
	input[type="text"] {
background-color: $secondary-color;
@extend %btn;
border-radius: 0.2em 0 0 0.2em;
color:$white;
border-right-width:0px;
margin: 0 0 0.5em;
		&:focus {
			background-color: $dark-blue;
			@include box-shadow(inset 0px 0 0.5em 0px $black);
		}
	}
}

#searchsubmit {
	@extend .btn-blue;
	border-radius: 0 0.2em 0.2em 0;
	margin: 0 0 0.5em;
	border-left-width:0px;
	}

footer {
	#searchform {
	input[type="text"] {
			&:focus {
			background-color: $dark-red;
			}
		}
	}
	#searchsubmit {
		@extend .btn-red;
	}
}