#footer-wrapper {
	background: $secondary-color;

	footer {
		color: $white;
		text-align: left;
		padding: 2em 0em 0em 0em;
box-shadow: 0 1px 0 rgba($light_gray, 0.5) inset;
		.widget {
			margin-top: 0em;
			margin-bottom: 1em;
		}
		h4 {
			color: $red;
		}
		ul {
			color: $white;
	   		list-style: none outside none;
	   		margin-left: 0;

			a {
				color: $light_blue;
				text-decoration:underline;

				&:hover {
					color: $white;
				}
			}
		}
		hr { 
		border-color:transparent;
		border:0;
		box-shadow: 0 -1px 0 0 rgba($light_gray, 0.5), 0 -2px 0 0 $black;
		height:2px;
		margin: 1em 0 2em;
		}
		.copy {
			padding: 1em;
			background-color: rgba($black,0.3);
			margin-top: 1em;
			box-shadow: 0 -1px 0 0 rgba($light_gray, 0.5), 0 -2px 0 0 $black;
		}
	}
}