nav {
	@extend %box-shadow;
	background-color: $dark_blue;
	padding: 0em;
	background: $blue_gradient;

	#menu-global-nav {
		list-style-type: none;

		li {
			display: inline-block;
		
			&:first-child {			
				a {
					color: $red;
					background: url($logo_image) no-repeat 10px center;
					background-size: contain;
					text-indent: -999em;
					padding-right: 3em;

					&:hover {
						background: transparent url($logo_image) no-repeat 10px center;
						background-size: contain;
					}					
				}
			}
			a {
				padding: 0 1em;
				display: block;
				color: $white;
				background: $blue_gradient;
   				box-shadow: -1px 0 0 0 rgba(147, 215, 249, 0.5) inset, -2px 0 0 0 #03273A inset;
   				text-transform: uppercase;
   				font: bold 1em/3.5em "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

				&:hover {
					background: $blue_gradient_hover;
				}			
			}
			& + .current_page_item {
				a {
					background: $red_gradient_hover;
				}
			}			
		}
	}
	.donate {
		margin: 0.5em 0em 0em 0em;
		padding: 0.7em;
		float: right;
	}
	.search {
		margin: 0.7em 0em 0em;
	}
}

@media only #{$tablet} {
	nav {
		.large-9.columns, .large-3.columns {
			padding:0;
			width:auto;
		}
		.search {
			margin:1em 0 1em 
		}
	}
}

@media only #{$phone} {
	nav {
		.large-9.columns, .large-3.columns {
			padding:0;
		}	
		#side-nav {
			li {
				width:100%;
				
				a {
					box-shadow: 0 -1px 0 0 rgba(147, 215, 249, 0.5) inset, 0 -2px 0 0 #03273A inset;	
				}
			}
		}
		#menu-global-nav {
			li {
				display:block;
				width:100%;
				text-align:center;				
				
				&:first-child {
					height:90px;
					min-width:100%;							
					
					a {
						height:90px;
						color: inherit;
						background: url($logo_image) no-repeat center center;
						background-size: contain;
						text-indent: -999em;

						&:hover {
							background-color: transparent;
							background: url($logo_image) no-repeat center center;
							background-size: contain;
						}
					}
				}
				a {
					box-shadow: 0 -1px 0 0 rgba(147, 215, 249, 0.5) inset, 0 -2px 0 0 #03273A inset;
				}		
			}
		}
		.search {
			margin:1em 0 1em 0;
		}
	}	
}