#comments {
	background-color: $secondary_color;
	color: $white;
	padding: 20px;
	margin-bottom: 20px;

	& > * {
		width: 75%;
	}
	a {
	color: $light_blue;
	}
	.comments-title {
		color: $white;
		font-size: 1.2em;
		margin-top: 0em;
		margin-bottom: 1em;

		em {
			color: $light_blue;
		}
	}
	h3 {
		color: $white;
		margin-top: 0px;
	}
	.commentlist {
		list-style-type: none;
		overflow: hidden;
	}
	#respond {
		clear: both;
	}
}

@media (max-width: 1000px) {
	#comments {
		& > * {
			width: 100%;
		}
	}
}