$nav-box-shadow-outer-color: #03273A;
$nav-box-shadow-inner-color: rgba(147, 215, 249, 0.5);
$nav-box-shadow-right: -1px 0 0 0 $nav-box-shadow-inner-color inset, -2px 0 0 0 $nav-box-shadow-outer-color inset;
//$nav-box-shadow-left: 1px 0 0 0 $nav-box-shadow-inner-color inset, 2px 0 0 0 $nav-box-shadow-outer-color inset;
$nav-box-shadow-left: 1px 0 0 0 $nav-box-shadow-outer-color inset, 2px 0 0 0 $nav-box-shadow-inner-color inset;

nav {
	@include box-shadow(0em 0em 1em 0.1em $light_blue);
	background-color: $dark_blue;
	padding: 0em;
	background: $blue_gradient;
	position: relative;
	z-index: 1;

	& > .row > .columns:first-child {
		padding-left: 0em;
	}
	.large-12.columns{
		padding: 0;
	}
}

#menu-global-nav {
	list-style-type: none;

	& > li {	
		&:first-child {
			&.current_page_item {
				& > a {
					background: url($logo_image) no-repeat center center;
					background-size: contain;
				}
			}
			a {
				//@extend .logos-logo-130;
				background: url($logo_image) no-repeat center center;
				background-size: contain;
				width: 10em;
				color: $red;
				text-indent: -999em;
				@include box-sizing(content-box);
				padding-left: 0em;

				&:hover {
					//@extend .logos-logo-130;
					background: $trans_dark_blue url($logo_image) no-repeat center center;

					background-size: contain;
				}
			}
		}
	}
	& > li {	
		&:last-child {
			padding:0.5em 0.75em 0;
			float:right;
			a {
				@extend .btn-red;
				font-size:0.875em;
				font-weight: normal;
				margin-bottom:0;
			}
		}
	}
	li {
		display: block;
		width: 100%;
		text-align: center;
		position: relative;

		&.current_page_item {
			& > a {
				background: $red_gradient_hover;
			}
		}
		&:hover {
			.sub-menu {
				display: block;
			}
		}
		a {
			@include box-shadow($nav-box-shadow-right, $nav-box-shadow-right);
		}	
	}
	a {
		@include blue-gradient;
		padding: 0 0.75em;
		display: block;
		color: $white;
		@include box-shadow($nav-box-shadow-right);
		text-transform: uppercase;
		font: 0.875em/4.125em $secondary_font;	
	}
	.sub-menu {
		list-style-type: none;
		margin: 0em;
		display: none;
		position: absolute;
		left: -1px;

		a {
			//@include box-shadow($nav-box-shadow-right);
		}
	}
}

@media #{$desktop} {
	#menu-global-nav {
		li {
			display: inline-block;
			width: auto;
		}
	}
}


@media #{$tablet} {
nav {
#menu-global-nav {
	list-style-type: none;
& > li {	
		&:first-child {
		width: 100%;
		box-shadow: 0 -1px 0 0 $nav-box-shadow-inner-color inset, 0 -2px 0 0 $nav-box-shadow-outer-color inset;
			&.current_page_item {
				& > a {
					background: url($logo_image) no-repeat bottom center;
					background-size: contain;
				}
			}
			a {
				//@extend .logos-logo-130;
				background: $trans_dark_blue url($logo_image) no-repeat bottom center;
				background-size: contain;
				width: 100%;
				min-height:7em;
				color: $red;
				text-indent: -999em;
				@include box-sizing(content-box);
				padding: 0em;
				margin:0;

				&:hover {
					//@extend .logos-logo-130;
					background: $dark_blue url($logo_image) no-repeat bottom center;
					background-size: contain;
				}
			}
		}
	}
	
		li {
		display: inline-block;
			width: auto;
	}
	
}
}
}

@media #{$phone} {
nav {
#menu-global-nav {
	list-style-type: none;
& > li {	
		&:first-child {
		width: 100%;
			&.current_page_item {
				& > a {
					background: url($logo_image) no-repeat bottom center;
					background-size: contain;
				}
			}
			a {
				//@extend .logos-logo-130;
				background: $trans_dark_blue url($logo_image) no-repeat bottom center;
				background-size: contain;
				width: 100%;
				min-height:7em;
				color: $red;
				text-indent: -999em;
				@include box-sizing(content-box);
				padding: 0em;
				margin:0;

				&:hover {
					//@extend .logos-logo-130;
					background: $dark_blue url($logo_image) no-repeat bottom center;
					background-size: contain;
				}
			}
		}
	}
		& > li {	
		&:last-child {
			padding:1em;
			float:right;
			a {
				@extend .btn-red;
				font-size:0.875em;
				font-weight: normal;
				margin-bottom:0;
				width:100%;
			}
		}
	}
		li {
		a {
			box-shadow: 0 -1px 0 0 $nav-box-shadow-inner-color inset, 0 -2px 0 0 $nav-box-shadow-outer-color inset;
		}	
	}
	
}

}
}