.person {
	margin-bottom: 2em;
	
	img {
		display: block;
		float: left;
		margin: 0em 1em 0em 1em;
		@include border-radius(200em);
		@include box-shadow(0em 0em 1em 0.1em $light_blue);
	}
	.name {
		font-size: 2em;
		margin-bottom: 0em;
		margin-top: 0.8em;
		color: $light_blue;

		a {
			display: block;
		}
	}
	.position {
		margin-top: 0.2em;
		font-size: 1.5em;
	}
	.bio {
		font-size: 1.1em;
		line-height: 1.1em;
		clear: both;
		display: none;
	}
}