.sharing {
	background-color: $dark_blue;
	padding: 1em 1em 0.5em;
	margin: 1em 0em;
	
	ul {
		list-style-type: none;

		li {
			display: inline-block;

			&.share-twitter {
				width: 90px;
			}
			&.share-facebook {
				padding-right: 10px;
			}
		}
	}
}