nav {
	@extend %box-shadow;
	background-color: $secondary_color;
	padding: 0em;
	background: linear-gradient(to bottom, $blue 0%, $black 100%);

	#menu-global-nav {
		list-style-type: none;

		li {
			display: inline-block;

			&:first-child {				
				a {
					color: $red;
					background: url($logo_image) no-repeat left;
					background-size: contain;
					text-indent: -999em;
					padding-right: 2em;
					box-sizing: border-box;

					&:hover {
						background: url($logo_image) no-repeat left;
						background-size: contain;
					}
				}
			}
			a {
				padding: 0em 1em;
				display: block;
				background: linear-gradient(to bottom, $blue 0%, $dark_blue 100%);
				box-shadow: -1px 0 0 0 rgba(147, 215, 249, 0.5) inset, -2px 0 0 0 $dark_blue inset;
				font: bold 1em/3em $primary_font;
				text-transform: uppercase;
				color: $white;

				&:hover {
					background: linear-gradient($pale_blue, $blue);
				}
			}
		}
	}
	.search {
		margin: 0.5em 0em;
		border-radius: 999em;
		padding: 1em;
	}
}