$nav-box-shadow-outer-color: #03273A;
$nav-box-shadow-inner-color: rgba(147, 215, 249, 0.5);
$nav-box-shadow-right: -1px 0 0 0 $nav-box-shadow-inner-color inset, -2px 0 0 0 $nav-box-shadow-outer-color inset;
//$nav-box-shadow-left: 1px 0 0 0 $nav-box-shadow-inner-color inset, 2px 0 0 0 $nav-box-shadow-outer-color inset;
$nav-box-shadow-left: 1px 0 0 0 $nav-box-shadow-outer-color inset, 2px 0 0 0 $nav-box-shadow-inner-color inset;

nav {
	@include box-shadow(0em 0em 1em 0.1em $light_blue);
	background: $blue_gradient;

	& > .row > .columns {
		padding: 0;
	}
}

#menu-global-nav {
	list-style-type: none;

	& > li {	
		&:first-child {
			width: 100%;

			&.current_page_item {
				& > a {
					background: url($logo_image) no-repeat center center / contain;
				}
			}
			a {
				@include box-sizing(content-box);
				background: url($logo_image) no-repeat center center / contain;
				width: 100%;
				min-height: 7em;
				text-indent: -999em;
				padding-left: 0;

				&:hover {
					background: url($logo_image) no-repeat center center / contain;
				}
			}
		}	
		&:last-child {
			padding: 0.5em 0.75em 0;

			a {
				@extend .btn-red;
			}
		}
	}
	li {
		display: block;
		width: 100%;
		text-align: center;
		position: relative;

		&.current_page_item {
			& > a {
				background: $red_gradient_hover;
			}
		}
		&:hover {
			.sub-menu {
				display: block;
			}
		}
	}
	a {
		@include blue-gradient;
		padding: 0 0.75em;
		display: block;
		color: $white;
		@include box-shadow($nav-box-shadow-right);
		text-transform: uppercase;
		font: 0.875em/4.125em $secondary_font;	
	}
	.sub-menu {
		list-style-type: none;
		margin: 0em;
		display: none;
		position: absolute;
		left: -2px;

		a {
			@include box-shadow($nav-box-shadow-left, $nav-box-shadow-right);
		}
	}
}

@media #{$small} {
	#menu-global-nav {
		& > li {	
			&:first-child {
				width: auto;

				a {
					width: 10em;
					min-height: 100%;
				}
			}
			&:last-child {
				float: right;
				width: 7em;
			}
		}
		li {
			display: inline-block;
			width: auto;
		}
	}
}