.post {
	margin-top: 2em;

	& > a {
		position: relative;
		overflow: hidden;
		display: block;

		.star {
			@extend .icons-star-150;
			position: absolute;
			right: -1em;
			top: 1em;
			@include opacity(0.2);
			display: none;
		}
		h1 {
			font-size: 2.5em;
			line-height: 1.2em;
			background-color: transparent;
			color: $white;
			padding: 0.4em;
			margin: 0em;
			@include grey-gradient;

			&.featured {
				@include blue-gradient;

				& + .star {
					display: block;
				}
			}
		}
	}

	&.category-videos {
		h1 {
			@include red-gradient;
		}
	}
	.entry {
		background-color: $white;
		color: $black;
		padding: 1em;

		.wp-caption {
			margin: 1em;
			background-color: $secondary_color;
			color: $white;
			max-width: 100%;

			&.alignright {
				float: right;
				margin-right: 0em;
			}
			&.alignleft {
				float: left;
				margin-left: 0em;
			}
			&.aligncenter {
				margin: 1em auto;
			}
			&.alignnone {
				margin: 1em auto;
			}
			a {
				color: $light_blue;
			}
			.wp-caption-text {
				padding: 0.8em;
				margin: 0px;
				font-size: 0.8em;
				line-height: 1.2em;
			}
		}
		h2, h3, h4, h5 {
			color: $black;
		}
		img:first-child {
			width: 100%;
		}
		p {
			&:last-child {
				margin-bottom: 0em;
				overflow: hidden;
			}
		}
		ul {
			background-color: $secondary_color;
			padding: 1em;
			color: $white;
			margin-bottom: 1.25em;

			li {
				margin-left: 1em;
			}
		}
		.more-link {
			@extend .btn-blue;
			float: right;

			span {
				position: relative;
				top: -2px;
				font-size: 1.2em;
			}
		}
	}
}