@mixin section_background($color) {
	background: lighten($section_color, 25%) repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(255,255,255,0.15) 15px, rgba(255,255,255,0.15) 30px);
	border-radius: 2px;
	margin: 4em 0em 2em;
	padding: 3em 1em 0em 1em;
	position: relative;

	h2 {
		position: absolute;
		top: -2em;
		left: -1em;
		margin: 0em;
		padding: 1em 1em;
		width: 100%;
		display: block;
		color: $white;
		box-sizing: content-box;
		box-shadow: 0em 1em 1em -1em darken($color, 20%);
		background-color: $color;
	}
	& > div {
		margin-bottom: 1.5em;
		height: 9em;
	}
}

#featured {
	@include section_background($light_blue);

	& > div {
		margin-bottom: 6em;
	}
}

#recent_posts {
	@include section_background($red);
	padding-bottom: 0.5em;

	& > div {
		margin-bottom: 2em;

		&:nth-of-type(1) {
			height: 14em;
			font-size: 1.5em;
			padding: 0em 0.5em;
			margin-bottom: 1em;
		}
	}
}