@mixin section_background($color) {
	background-color: $secondary_color;
	border-radius: 2px;
	margin: 4em 0em 2em;
	padding: 1em 0em 0em 0em;
	position: relative;

	h2 {
		position: absolute;
		top: -2em;
		left: -1em;
		margin: 0em;
		padding: 1em;
		width: 100%;
		height: 1em;
		display: block;
		color: $white;
		box-sizing: content-box;
		box-shadow: 0em 1em 1em -1em darken($color, 20%);
		background-color: $color;
		z-index: 1;
	}
	& > a {
		padding: 0em;
	}
}

.page-home {
	h1, h2 {
		font-size: 1em;
	}

	.logo {
		width: 100%;
		margin-top: 2em;
	}

	#featured {
		@include section_background($blue);

		& > a {
			height: 15em;
		}
	}

	#recent_posts {
		@include section_background($red);

		& > a {
			$post_height: 10em;
			$post_margin: 1em;

			margin: $post_margin;
			height: $post_height;
			@extend .medium-6;
			@extend .small-12;
			@media #{$desktop} {
				width: calc(25% - (#{$post_margin} * 3/2));
			}

			&:nth-of-type(1) {
				$font_size: 1.5em;

				@extend .large-6;
				@extend .medium-12;
				@extend .small-12;
				font-size: $font_size;
				padding: 0em;
				margin: 0em;
				height: (($post_height * 2) + ($post_margin * 3)) / ($font_size) * 1em;
			}
			&:nth-of-type(2n) {
				margin-right: 0em;
			}
			&:nth-of-type(4n-2),
			&:nth-of-type(4n-1) {
				margin-bottom: 0em;
			}
		}
	}

	#recent_videos {
		@include section_background($green);

		.columns {
			padding-bottom: 20%;

			&:nth-of-type(1) {
				@extend .large-9;
				@extend .medium-12;
				padding-bottom: 60%;

				iframe {
					margin: 0em;
					width: 100%;
					height: 100%;
				}
			}
			iframe {
				width: calc(100% - 2em);
				height: calc(100% - 2em);
				position: absolute;
				left: 0em;
				top: 0em;
				margin: 1em;
			}
		}
	}
}

@media not #{$desktop} {
	.page-home {
		#featured,
		#recent_posts,
		#recent_videos {
			& > a {
				margin: 0em;
				height: 15em;
			}
			h2 {
				height: inherit;
				padding: 1em 0.5em;
				left: 0em;
				box-sizing: border-box;
			}
		}
	}
}

@media only #{$tablet} {
	.page-home {
		#recent_videos {
			.columns {
				padding-bottom: 40%;
			}
		}
	}
}

@media only #{$phone} {
	.page-home {
		#recent_videos {
			.columns {
				padding-bottom: 60%;
			}
		}
	}
}