/* Required:
 * $footer_height
 */

html, body {
   height: 100%;
}

body {
   margin: 0em;
   padding: 0em;
}

div#wrapper {
   width: 100%;
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0em 0em ($footer_height * -1) 0em;
}

footer#footer_wrapper {
   width: 100%;
   height: $footer_height;
}

div#content_wrapper {
   width: 100%;
   padding: 0em 0em $footer_height 0em;
}

/* The following is not needed with the following libraries:
 * Foundation
 * 
 * Required:
 * $page_width
 */

/*
div#footer_wrapper, div#content_wrapper {
   min-width: $page_width;
}

div#footer_inner_wrapper, div#content_inner_wrapper {
   width: $page_width;
   margin: 0px auto;
}
*/